.testimonial-card {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 450px; */
  width: clamp(30vw, 25%, 450px);
  /* height: 100%; */
  background-color: #00373e;
  padding: 1.7rem;
  border-radius: 30px;
  color: #fff;
}

.testimonial-text {
  font-size: 1.25rem;
  font-weight: 400;
}

.testimonial-label {
  font-weight: 500;
}

.testimonial-card:nth-child(5n + 2) {
  background-color: #94954c;
}
.testimonial-card:nth-child(5n + 3) {
  background-color: #fbad9c;
  color: #00373e;
}
.testimonial-card:nth-child(5n + 4) {
  background-color: #ac9e88;
  color: #00373e;
}
.testimonial-card:nth-child(5n + 5) {
  background-color: #fbd3ba;
  color: #00373e;
}

@media screen and (max-width: 991px) {
  .testimonial-card {
    width: 40vw;
  }

  .testimonial-card:first-child {
    margin-left: 5rem;
  }
  .testimonial-card:last-child {
    margin-right: 15rem;
  }
  .testimonial-text {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 768px) {
  .testimonial-card {
    width: 39vw;
  }

  .testimonial-card:first-child {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .testimonial-card {
    width: 75vw;
  }
  .testimonial-card:first-child {
    margin-left: 1rem;
  }
  .testimonial-text {
    font-size: 1rem;
    font-weight: 400;
  }
}
