.feature-section {
  width: 90%;

  justify-content: center;
  display: flex;
  margin: 0 auto;
}

.features {
  width: 100%;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  height: 15vh;
  border-radius: 35px;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
