.testimonials-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.testimonials-column-left {
  width: 42%;
}
.testimonials-column-right {
  width: 50%;
}

.testimonials-carousel-wrapper {
  display: flex;
}
