.header-section {
  display: flex;
  width: 80%;
  margin: 0 auto 8%;
  justify-content: space-between;
}

.header-col-left {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 2rem;
}

.header-col-left > * {
  text-align: start;
}

.header-col-right {
  max-width: 50%;
}

.header-image-wrapper {
  position: relative;
  width: 430px;
  height: auto;
  aspect-ratio: 1 / 1;
  z-index: 1;
  max-width: 100%;
}

.header-image {
  position: absolute;
  width: 150%;
  top: -100%;
  left: -30%;
  max-width: none;
  z-index: 1;
}

.header-shape-wrapper {
  position: relative;
}

.header-shape {
  position: absolute;
  height: 240px;
  width: auto;
  aspect-ratio: 1/1;
  z-index: 12;
  margin-left: 40%;
  margin-top: -10%;
}

.clip-middle-left {
  clip-path: url(#middle-left);
}
.clip-bottom-left {
  clip-path: url(#bottom-left);
}

.clip-top-left {
  clip-path: url(#top-left);
  rotate: 180deg;
}

@media screen and (max-width: 991px) {
  .header-section {
    width: 85%;
    margin: 0 auto;
  }

  .header-col-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 40%;
  }

  .header-shape-wrapper {
    position: absolute;
    margin-right: 10%;
    margin-top: 10%;
  }

  .header-shape {
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 479px) {
  .header-section {
    flex-direction: column;
  }
  .header-col-left {
    gap: 1.25rem;
    max-width: 100%;
  }

  .header-col-right {
    max-width: 90%;
    flex-direction: row;
    justify-content: space-around;
  }

  .header-image-wrapper {
    margin-top: 10%;
    width: 270px;
  }

  .header-shape-wrapper {
    position: absolute;
    margin-right: -20%;
    margin-top: 0%;
  }

  .header-shape {
    height: 150px;
  }
}
