.header-section {
  display: flex;
  width: 80%;
  margin: 0 auto 8%;
  justify-content: space-between;
}

.header-col-left {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 2rem;
}

.header-col-left > * {
  text-align: start;
}

.header-image-wrapper {
  position: relative;
  width: 430px;
  height: 430px;
  z-index: 1;
}

.header-image {
  position: absolute;
  width: 150%;
  top: -100%;
  left: -30%;
  max-width: none;
  z-index: 1;
}

.header-shape-wrapper {
  position: relative;
}

.header-shape {
  position: absolute;
  height: 240px;
  width: 240px;
  z-index: 12;
  margin-left: 40%;
  margin-top: -10%;
}

.clip-middle-left {
  clip-path: url(#middle-left);
}
.clip-bottom-left {
  clip-path: url(#bottom-left);
}

.clip-top-left {
  clip-path: url(#top-left);
  rotate: 180deg;
}
