nav {
  height: 10vh;
  display: flex;
  align-items: center;
  position: relative;
  margin: 3vh 0;
}

.nav-logo-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  /* z-index: -1; */
  pointer-events: auto;
}

.nav-logo-wrapper > a {
  z-index: 2;
}

nav ul {
  display: flex;
  gap: 1em;
}

.nav-items {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.login-wrapper {
  display: flex;
  gap: 1em;
}

.btn-login {
  border: none;
  background: none;
}

.btn-signup {
  border: 2px solid transparent;
  border-radius: 25px;
  padding: 0.875em 1.35em;
  line-height: 1;
}

@media screen and (max-width: 1025px) {
  nav {
    margin: 0;
  }
}
@media screen and (max-width: 980px) {
  .nav-logo-wrapper {
    justify-content: start;
  }
}

@media screen and (max-width: 480px) {
  nav {
    margin: 2vh;
  }
  .section-container {
    max-width: 100%;
  }
}
