nav {
  height: 10vh;
  display: flex;
  align-items: center;
  position: relative;
  margin: 3vh 0;
}

.nav-logo-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
}
nav ul {
  display: flex;
  gap: 12px;
}

.nav-items {
  width: 100%;
  display: flex;

  justify-content: space-between;
}

@media screen and (max-width: 980px) {
  .nav-logo-wrapper {
    justify-content: start;
  }
}

@media screen and (max-width: 480px) {
  .section-container {
    max-width: 100%;
  }
}
