nav {
  height: 10vh;
  display: flex;
  align-items: center;
  position: relative;
  margin: 3vh 0;
}

.nav-logo-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  /* z-index: -1; */
  pointer-events: auto;
}

.nav-logo-wrapper > a {
  z-index: 2;
}

nav ul {
  display: flex;
  gap: 1em;
}

.nav-items,
.nav-overlay {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.login-wrapper {
  display: flex;
  gap: 1em;
}

.login-wrapper > .btn-signup {
  background-color: var(--light-asset-bg-color);
}
.btn-login {
  border: none;
  background: none;
}

.toggle-nav-btn {
  display: none;
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@media screen and (max-width: 991px) {
  nav {
    margin: 2rem 0;
  }
  .nav-logo-wrapper {
    justify-content: start;
  }
  .nav-overlay {
    background-color: hsla(20, 20%, 97%, 0.885);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 110%;
    left: 0;
    z-index: 3;
    opacity: 0;
    display: none;
  }

  .nav-items,
  .nav-links {
    flex-direction: column;
  }

  .nav-items {
    position: absolute;
    opacity: 1;
    display: none;
    top: 0%;
    padding: 2rem;

    align-items: start;
    border-radius: 25px;
    z-index: 10;
    background-color: var(--accent-color);
    width: 100%;
  }

  .closing {
    display: flex;
    opacity: 0;
    top: 400%;
    transition: top 0.5s ease, opacity 0.6s ease, display 0.7s ease;
  }

  .showing-overlay {
    display: flex;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .showing {
    display: flex;
    animation: slide-up 0.3s ease;
  }

  .nav-links {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .btn-login {
    font-size: 1.5rem;
  }

  .nav-items li {
    text-align: start;
  }

  .login-wrapper {
    padding-top: 1rem;
    width: 100%;
    border-top: 1px solid black;
  }
  .toggle-nav-btn {
    width: 3rem;
    height: 3rem;
    background-color: var(--main-text-color);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: absolute;
    right: 0;
  }
  .toggle-nav-btn span {
    width: 50%;
    height: 5%;
    background-color: aliceblue;
  }
}

@media screen and (max-width: 767px) {
  nav {
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 479px) {
  nav {
    margin: 2rem 0.25rem 2.75rem;
    /* margin-bottom: 2.75rem; */
  }
  .section-container {
    max-width: 100%;
  }
}
