.questions-section {
  width: 65%;
  margin: 0 auto;
}

.questions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faqs-btn {
  background-color: #ccfff3;
}

.questions-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
.question-card {
  cursor: pointer;
  padding: 1.75rem;
  border-radius: 45px;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-asset-bg-color);
}

.question-card-content * {
  text-align: start;
}
.question-card-content {
  width: 75%;
}

.question-title {
  padding: 0.5rem 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.question-text {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.6s ease;
  white-space: pre-wrap;
}

.hidden-text {
  max-height: 0;
}

.expand-card-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--main-bg-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expand-card-btn span {
  width: 40%;
  height: 10%;
  background-color: black;
}

.rotating-line {
  transform: rotate(90deg);
  position: absolute;
  transition: transform 0.5s ease;
}
.active-line {
  transform: rotate(180deg);

  transition: transform 0.5s ease;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .questions-section {
    width: 75%;
  }
}

@media screen and (max-width: 480px) {
  .questions-section {
    width: 90%;
  }

  .question-card-content {
    width: 80%;
  }
  .question-title {
    font-size: 1rem;
  }
}
