*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  font-family: "Rubik", sans-serif;
  --main-bg-color: hsl(20deg 17% 97%);
  --main-text-color: hsl(187deg 93% 13%);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.btn {
  background-color: hsl(0deg 0% 100%);
  border: none;
  font-weight: 500;
}
/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens */
