*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-align: center;
}
body {
  font-family: "Rubik", sans-serif;
  --main-bg-color: hsl(20deg 17% 97%);
  --accent-color: hsl(25deg 90% 85%);
  --mini-button-color: hsl(11deg 92% 80%);
  --main-text-color: hsl(187deg 93% 13%);
  --light-text-color: hsl(0deg 0% 100%);
  --light-asset-bg-color: hsl(0deg 0% 100%);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  font-size: 1rem;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
  overflow: hidden;
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.main-section {
  padding: 5rem 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.btn {
  background-color: var(--light-asset-bg-color);
  border: none;
}
.btn:hover {
  background-color: var(--accent-color);
}

.btn-signup {
  border: 2px solid transparent;
  border-radius: 25px;
  padding: 0.875em 1.35em;
  line-height: 1;
  font-weight: 500;
  background-color: #ccfff3;
  color: var(--main-text-color);
  -webkit-appearance: none;
}

h1 {
  letter-spacing: -0.02em;
  word-spacing: -0.05em;
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2;
  font-family: "Libre Baskerville", serif;
}

.main-text {
  font-size: 1.5rem;
}

.heading-text {
  font-size: 1.25rem;
}

.small-heading {
  font-size: 0.87rem;
  font-weight: 500;
  text-transform: uppercase;
}
.light-text {
  color: var(--light-text-color);
}

::selection {
  background: #00373e;
  color: #cafff2;
}
/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens */
@media screen and (max-width: 991px) {
  h1 {
    font-size: 3.7rem;
  }
  .container {
    width: 85%;
  }
  .content-heading {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.3rem;
  }
  .main-text {
    font-size: 1.125rem;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 479px) {
  .container {
    width: 90%;
  }
  h1 {
    font-size: 2.7rem;
  }
  .main-text {
    font-size: 1.125rem;
    margin-bottom: 1em;
  }
  .content-heading {
    font-size: 1.9rem;
  }
  .main-section {
    padding: 3rem 0;
  }
}
