.why-section {
  margin: 0 auto;
  width: 80%;
}

.why-heading-wrapper {
  width: 35%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.why-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.why-card {
  background-color: var(--light-asset-bg-color);
  border-radius: 25px;
  display: flex;
  padding: 3%;
  align-items: center;
  min-height: 25rem;
  position: relative;
  overflow: hidden;
}
.why-card-heading {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.why-card-text-wrapper {
  width: 54%;
}
.why-card-text {
  font-size: 1.25rem;
}
.why-card-image {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  margin-right: -24%;
  width: 70%;
  padding-top: 3%;
}

.why-row1 {
  display: flex;
  gap: 2rem;
}
.why-row2 {
  position: relative;
  width: 100%;
}
.why-row2-card {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 24%;
}
.why-row2-images {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}
