.why-section {
  margin: 0 auto;
  width: 80%;
}

.why-heading-wrapper {
  width: 35%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.why-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.why-card {
  background-color: var(--light-asset-bg-color);
  border-radius: 25px;
  display: flex;
  padding: 3%;
  align-items: center;
  min-height: 25rem;
  position: relative;
  overflow: hidden;
}
.why-card-heading {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.why-card-text-wrapper {
  width: 54%;
}
.why-card-text {
  font-size: 1.25rem;
}
.why-card-image {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
  margin-right: -24%;
  width: 70%;
  padding-top: 3%;
}

.why-row1 {
  display: flex;
  gap: 2rem;
}
.why-row2 {
  border-radius: 25px;
  background-color: var(--light-asset-bg-color);
  position: relative;
  width: 100%;
}
.why-row2-card {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 24%;
}
.why-row2-images {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.why-row2-image {
  max-width: 23rem;
}

@media screen and (max-width: 991px) {
  .why-section {
    width: 85%;
  }
  .why-heading-wrapper {
    width: 55%;
  }

  .why-card {
    padding: 4%;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .why-card-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .why-card-text-wrapper {
    width: 90%;
  }

  .why-card-image {
    position: relative;
    margin: 0;
    width: 100%;
  }
  .why-row2 {
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .why-row2-card {
    width: 70%;
    align-items: center;
    justify-content: flex-start;
    min-height: 0;
    padding: 0;
  }
  .why-row2-images {
    flex: 1;
    position: relative;
  }

  .why-row2-image {
    max-width: 23rem;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .why-section {
    width: 90%;
  }
  .why-heading-wrapper {
    width: 85%;
  }

  .why-row1 {
    flex-direction: column;
    gap: 2.5rem;
  }

  .why-card {
    flex-direction: column-reverse;
  }

  .why-card-heading {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .why-card-text-wrapper {
    width: 80%;
    margin-bottom: 1rem;
  }

  .why-card-text {
    font-size: 1rem;
  }

  .why-row2 {
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .why-row2-card {
    width: 70%;
    align-items: center;
    justify-content: flex-start;
    min-height: 0;
    padding: 0;
  }
  .why-row2-images {
    flex: 1;
    position: relative;
  }

  .why-row2-image {
    max-width: 23rem;
  }
}
