.footer-wrapper {
  margin: 0 auto;
  width: 90%;
  display: flex;
  gap: 2rem;
}

.footer-cta {
  border-radius: 25px;
  background-color: var(--main-text-color);
  color: var(--light-text-color);
}

.footer-right-wrapper {
  border-radius: 25px;
  background-color: var(--light-asset-bg-color);
  flex: 1;
}
